<html>
  <head>
    <title>Stimmungsmesser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <!--Import icons-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import JQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS for materializecss-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Compiled and minified JavaScript for materializecss -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!--Import my own CSS-->
    <link rel="stylesheet" href="style.css">
    <!--Import my own JS-->
    <script src="main.js"></script>
    <!--Import trianglify-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.0.1/trianglify.min.js"></script>
    <!--Percentage circle-->
    <link rel="stylesheet" href="circle.css">
  </head>
  <body id="body">
    <!--Hashtag input-->
    <div class="row" id="search-wrapper">
      <div class="input-field col s12 m3 offset-m2">
        <input placeholder="#Dein Hashtag" id="hashtag-input" type="text" class="validate">
      </div>
      <div class="input-field col s2 m2">
        <select id="days">
          <option value="1">Heute</option>
          <option value="2">Gestern</option>
          <option value="3">Vor 3 Tagen</option>
          <option value="5">Vor 5 Tagen</option>
          <option value="7">Vor 7 Tagen</option>
          <option value="12">Vor 12 Tagen</option>
          <option value="14" selected>Vor 14 Tagen</option>
        </select>
        <label>Zeitraum</label>
      </div>
      <div class="input-field col s12 m5">
        <a href="javascript:getMood()" id="getMoodButton" class="waves-effect waves-light btn"><i class="material-icons left">search</i>stimmung ermitteln</a>
      </div>
    </div>
    <h2 id="slogan"></h2>
    <!--Multicolored Preloader (default: invisible)-->
    <div id="preloader" class="preloader-wrapper big active" style="display:none">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div id="percent-circle-wrapper" style="display:none">
      <div id="percent-circle" class="big c100 p0">
        <span id="percent-span"><font style="color: red"></font><font>/</font><font style="color: green"></font></span>
        <div id="slice" class="slice">
          <div id="bar" class="bar"></div>
          <div id="fill" class="fill"></div>
        </div>
      </div>
      <div id="negInfoText">
        <h4>65% des Internets sind in negativer Stimmung zum Thema jugendhackt</h4>
      </div>
      <div id="posInfoText">
        <h4>35% des Internets sind in positiver Stimmung zum Thema jugendhackt</h4>
      </div>
    </div>
    <script>
    $(document).ready(function() {
      $('select').material_select();
    });
    </script>
  </body>
</html>
